*{
    margin:0;padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#0b1220;
    color:white;
}

.header{
    background:#111827;
    padding:15px;
    text-align:center;
    position:relative;
    font-size:20px;
}

.back-btn{
    position:absolute;
    left:15px;
    top:10px;
    padding:6px 12px;
    background:#1f2937;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

.container{
    padding:20px;
}

input{
    width:100%;
    background:#1f2937;
    padding:12px;
    border:none;
    color:white;
    border-radius:10px;
    margin-bottom:12px;
}

.upload-box{
    display:block;
    background:#2563eb;
    padding:15px;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
}

.upload-box input{
    display:none;
}

.status{
    margin-top:10px;
    font-size:14px;
    opacity:0.8;
}

.note-item{
    background:#1f2937;
    padding:15px;
    border-radius:10px;
    margin-top:12px;
}

.note-item-buttons{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
}

.btn{
    padding:8px 12px;
    border:none;
    border-radius:10px;
    color:white;
    cursor:pointer;
}

.view-btn{ background:#2563eb; }
.del-btn{ background:#db4437; }