*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{
    background:#0b1220;
    color:white;
}

.header{
    background:#111827;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.brand{
    font-size:22px;
    font-weight:bold;
}

.logout{
    background:#dc2626;
    padding:8px 14px;
    border:none;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.welcome-box{
    padding:20px;
    background:#1f2937;
    margin:15px;
    border-radius:12px;
}

.section-title{
    margin-left:20px;
    margin-top:10px;
    opacity:0.8;
}

.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    padding:20px;
}

.card{
    background:#2563eb;
    padding:20px;
    border-radius:15px;
    text-align:center;
    font-size:18px;
    cursor:pointer;
    transition:.2s;
}

.card:hover{
    transform:scale(1.05);
    background:#1d4ed8;
}

.recent-box{
    margin:20px;
    padding:15px;
    background:#1f2937;
    border-radius:12px;
    min-height:80px;
    white-space:pre-wrap;
}