*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{
    background:#0b1220;
    color:white;
}

.header{
    background:#111827;
    padding:15px;
    text-align:center;
    font-size:20px;
    position:relative;
}

.back-btn{
    position:absolute;
    left:15px;
    top:10px;
    background:#1f2937;
    padding:6px 12px;
    border:none;
    color:white;
    border-radius:8px;
}

.container{
    padding:20px;
}

.upload-box{
    display:block;
    background:#2563eb;
    padding:15px;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
}

.upload-box input{
    display:none;
}

.status{
    margin-top:10px;
    opacity:0.8;
}

.preview img{
    width:100%;
    margin-top:15px;
    border-radius:10px;
}

.solve-btn{
    width:100%;
    background:#10b981;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-top:20px;
    cursor:pointer;
    font-size:16px;
}

.answer-box{
    background:#1f2937;
    padding:15px;
    border-radius:10px;
    margin-top:20px;
    white-space:pre-wrap;
}