*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0b1220;
  color:white;
}

.hidden{
  display:none;
}

/* Loader */
#loader{
  position:fixed;
  inset:0;
  background:#0b1220;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.loader-logo{
  font-size:60px;
  animation:pop 1s infinite;
}

@keyframes pop{
  0%{transform:scale(1);}
  50%{transform:scale(1.2);}
  100%{transform:scale(1);}
}

/* Auth Box */
.auth-box{
  width:85%;
  max-width:380px;
  margin:auto;
  margin-top:90px;
  background:#111827;
  padding:25px;
  border-radius:12px;
  text-align:center;
}

.auth-box input{
  width:100%;
  padding:12px;
  border:none;
  outline:none;
  border-radius:10px;
  background:#1f2937;
  color:white;
  margin-top:12px;
}

.auth-btn{
  margin-top:18px;
  width:100%;
  padding:12px;
  background:#2563eb;
  border:none;
  border-radius:10px;
  color:white;
  font-size:16px;
}

.toggle-text{
  margin-top:12px;
  color:#60a5fa;
  cursor:pointer;
}