.google-btn {
  background: white;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.google-btn img {
  width: 20px;
  height: 20px;
}
