* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0d1117;
    color: white;
}

/* AUTH CONTAINER */
.auth-box {
    width: 90%;
    max-width: 360px;
    margin: 90px auto;
    background: #161b22;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

.auth-box h2 {
    margin-bottom: 20px;
}

.google-btn {
    width: 100%;
    padding: 12px;
    background: #4285F4;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.google-btn:hover {
    background: #2f6adf;
}