*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{ background:#0b1220; color:white; }

.header{
    background:#111827;
    padding:15px;
    text-align:center;
    font-size:20px;
    position:relative;
}

.back-btn{
    position:absolute;
    left:15px;
    top:10px;
    padding:6px 12px;
    background:#1f2937;
    color:white;
    border:none;
    border-radius:8px;
}

.container{ padding:20px; }

input, select{
    width:100%;
    padding:12px;
    background:#1f2937;
    border:none;
    color:white;
    border-radius:10px;
    margin-bottom:15px;
}

.gen-btn{
    width:100%;
    padding:12px;
    background:#2563eb;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.quiz-box{
    margin-top:20px;
    background:#1f2937;
    padding:15px;
    border-radius:10px;
    white-space:pre-wrap;
}