body {
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 360px;
  background: #161b22;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hidden {
  display: none;
}

input {
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #238636;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.google-btn {
  background: white;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.switch span {
  color: #2ea8ff;
  cursor: pointer;
}
