*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{
    background:#0b1220;
    color:white;
}

.header{
    background:#111827;
    padding:15px;
    text-align:center;
    font-size:20px;
    position:relative;
}

.back-btn{
    position:absolute;
    left:15px;
    top:10px;
    padding:6px 12px;
    background:#1f2937;
    border:none;
    color:white;
    border-radius:8px;
}

.container{
    padding:20px;
}

.chat-card{
    background:#1f2937;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

.chat-title{
    font-size:17px;
    margin-bottom:8px;
}

.chat-card-buttons{
    display:flex;
    justify-content:space-between;
}

.btn{
    padding:8px 12px;
    border:none;
    border-radius:10px;
    color:white;
    cursor:pointer;
}

.open-btn{ background:#2563eb; }
.del-btn{ background:#db4437; }