*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{
    background:#0b1220;
    color:white;
}

.header{
    background:#111827;
    padding:15px;
    text-align:center;
    position:relative;
    font-size:20px;
}

.back-btn{
    position:absolute;
    left:15px;
    top:10px;
    padding:6px 12px;
    background:#1f2937;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

.container{
    padding:20px;
}

input, textarea{
    width:100%;
    background:#1f2937;
    color:white;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-bottom:12px;
}

.add-btn{
    width:100%;
    background:#2563eb;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-bottom:20px;
    cursor:pointer;
    font-size:16px;
    color:white;
}

.task-box{
    background:#1f2937;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

.task-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:8px;
    font-size:15px;
}

.task-text{
    opacity:0.8;
}

.done-btn{
    background:#10b981;
    color:white;
    padding:8px 15px;
    border:none;
    border-radius:10px;
    font-size:12px;
    cursor:pointer;
}